<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Bookshop Responsive Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Modernizer js -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>


    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

        <!-- Header -->
        <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-7 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="/images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">

                                <li class="drop">
                                    <a href="/admin_products">Products</a>
                                </li>
                                <li class="drop">
                                    <a href="/admin_orders">Orders</a>
                                </li>
                                <li class="drop">
                                    <a href="/admin_users">Users</a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8 col-sm-8 col-5 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <form action='../logout'>
	                            <button class="admin_sign_out">Sign Out</button>
                            </form>
                        </ul>
                    </div>
                </div>

                <div class="mobile-menu d-block d-lg-none">
                </div>
                <!-- Mobile Menu -->
            </div>
        </header>
        <!-- //Header -->

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="admin-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="admin_h2">
                    <div>
                        <h2 class="admin_title">Products</h2>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 ol-lg-12">
                    <div class="modal-dialog modal__container" role="document">
                        <div class="modal-content">
                            <form action="/admin_products">
                            <div class="modal-header modal__header">
                                <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            </form>
                            <div class="modal-body">
                                <div class="modal-product">

                                    <div class="admin-info">
                                        <form action="/admin-edit/{{books.idBook}}" method="post">
                                            <div class="product__form">
                                                <div class="row">
                                                    <div class="col-sm-5 col-md-6">
                                                        <div class="input__box">
                                                            <label>Title</label>
                                                            <input type="text" name="title" value="{{books.Title}}"
                                                                required>
                                                        </div>
                                                        <div class="input__box">
                                                            <label>Author ID</label>
                                                            <input type="text" name="author" value="{{books.idAuth}}"
                                                                required>
                                                        </div>
                                                        <div class="input__box">
                                                            <label>Genre ID</label>
                                                            <input type="text" name="genre" value="{{books.idGen}}"
                                                                required>
                                                        </div>
                                                        <div class="input__box">
                                                            <label>Publishing house ID</label>
                                                            <input type="text" name="publisher" value="{{books.idPub}}"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="input__box">
                                                            <label>Year</label>
                                                            <input type="text" name="year" value="{{books.Year}}"
                                                                required>
                                                        </div>
                                                        <div class="input__box">
                                                            <label>Price</label>
                                                            <input type="text" name="price" value="{{books.Price}}"
                                                                required>
                                                        </div>
                                                        <div class="input__box">
                                                            <label>Is the book in store</label>
                                                            <input type="text" name="IsInStore"
                                                                value="{{books.IsInStore}}" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input__box">
                                                    <label>Description</label>
                                                  
                                                    <input type="text" name="description" value="{{books.Description}}"
                                                        required>
                                                </div>


                                                <div class="form__btn">
                                                    <button>Edit</button>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- cart-main-area end -->


        </div>
        <!-- //Main wrapper -->

        <!-- JS Files -->
        <script src="js/cart.js"></script>
        <script src="js/vendor/jquery-3.2.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/active.js"></script>

</body>

</html>